_build
_builds
generated
.suo
*.VC.db
*.VC.opendb
*.vcxproj.user
*.log
.vscode
*.iml
.gradle
prototypes/android-memory/local.properties
.idea
.DS_Store
prototypes/android-memory/build
prototypes/android-memory/captures
.externalNativeBuild
raptor/lib/
prototypes/QtTest/bin/
prototypes/memory/platforms/android/project/bin/
prototypes/memory/platforms/android/project/lib/
prototypes/memory/platforms/android/project/obj/
projects/test_project/assets
**/.vs
**/imgui.ini
